.markdown-preview-view p {
    text-indent: 3rem;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    hyphens: auto;
    word-wrap: break-word;
    hyphenate-character: auto;
    hyphenate-limit-chars: 6 3 3;
}
