.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header{
    text-indent: 0rem !important;
}

.markdown-source-view.mod-cm6.is-live-preview .cm-line {
    text-indent: 2rem;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-1{
    margin-bottom: 2rem !important;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-2{
    margin-top: 1rem !important;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-header-3{
    margin-top: 1rem !important;
}

.markdown-source-view.mod-cm6.is-live-preview .cm-line:has(> br) {
    display: none;
}

.markdown-source-view.mod-cm6.is-live-preview .cm-active:has(> br) {
    display: inline !important;
}

.markdown-source-view.mod-cm6.is-live-preview .cm-line.HyperMD-list-line {
    margin: 0.25rem 0;
}